.contacto{
    background-image: url(../imagenes/backgroundimagerest.jpg);
}
.valoracion1{
    margin-right: 15px;
    margin-left: 5px;
    
}
.valoracion2{
    margin-left: 15px;
}
.valoracion3{
    margin-left: 15px;
}
.butCon{
    margin-bottom: 15px;
}