/*index*/
.titulo {
    background-color: #1f1d1a;
}

.caja {
    background-color: #1f1d1a;
    width: 100%;

    .sobNos {
        margin-left: 20px;

        .titSn {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: italic;
            color: white;
        }

        .textNos {
            width: 90%;
            font-family: 'Times New Roman', Times, serif;
            font-size: large;
            color: #e7771e;
        }
    }

    .tituloCard {
        display: flex;
        justify-content: center;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;

        .container:hover {
            transform: scale(103%);
        }

    }

    .card-img-top:hover {
        transform: scale(102%);
    }

    .card {
        background-color: #e7771e;

        .card-title {
            text-align: center;
            color: #f3f2ef;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }

        .card-text {
            font-family: 'Times New Roman', Times, serif;
            color: #1f1d1a;
            text-align: center;
        }
    }

    .nuevoPed {
        border: solid #e7771e 5px;
        border-radius: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .pedido {

        h2 {
            display: flex;
            justify-content: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-top: 10px;
            color: white;
        }

        button:hover {
            transform: scale(105%);

        }

        .container:hover {
            transform: scale(103%);
        }

        p {
            display: flex;
            justify-content: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: large;
            margin-left: 20px;
            color: #e7771e;

            .buttonaca {
                background-color: #e7771e;
                height: 30px;
                font-size: small;
            }
        }

        .buttonaca1 {
            background-color: #e7771e;
            height: 30px;
            font-size: small;

        }

        .aca {
            margin-left: 10px;
            text-decoration: none;
        }
    }
    .container:hover{
        transform: scale(103%);
    }
    .indexPagos {
        display: flex;
        justify-content: center;
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
        color: #e7771e;

        .obs {
            margin-left: 20px;
            font-size: large;
        }
    }


}

@media (max-width:768px) {
    .card {
        margin-bottom: 20px;

    }
}