.nosotros {
  display: flex;
  justify-content: space-between;
}

.textNos {
  width: 50%;
}

.horarios {
  width: 50%;
}

.imgBod1 {
  width: 100%;
  margin-bottom: 5px;
  margin-left: 5px;
}

.imgBod2 {
  width: 500px;
  height: 350px;
}

.infGen {
  margin-left: 6px;
}