.pedidosPart {
    background-color: #1f1d1a;

    .nuevoPed {
        border: solid #e77719 5px;
        border-radius: 15px;
    }

    .formDatos,
    .delivery {
        color: #e77719;
    }

    .btn-laranja {
        background-color: #e77719;
    }

    .form-check-input:checked {
        background-color: #e77719;
    }

    .form-control,
    .form-select,
    textarea {
        background-color: #e77719;

        &:focus {
            background-color: #e77719;
            box-shadow: none;
        }
    }

}