/*index*/
* {
  margin: 0;
  padding: 0;
}

.contenedor {
  background-color: lightgray;
  margin: 5px;
}

.card-img-top:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

/*index*/
* {
  margin: 0;
  padding: 0;
}

.contenedor {
  background-color: lightgray;
  margin: 5px;
}

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pedido h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pedido button:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.card-img-top:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.tituloCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*pedidos*/
.datosClientes2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.platosCant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.platosCant .cantidad {
  margin-left: 150px;
}

.sectionPedidos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #b8b6b6;
}

.sectionPedidos h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  border-radius: 5px solid black;
}

.finalizar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  padding: 5px;
  background-color: lightgrey;
}

.inicio .nomeRest {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inicio .subTitulo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*menu*/
.containerMenu {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu-item-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }
  .menu-group {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}
/*# sourceMappingURL=estilos.css.map */